@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Rouge+Script&family=Sedgwick+Ave&display=swap');

*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    background-color: black;    
}

body {
    overflow-x: hidden;
}

li, a, button, h1, h2, h3, h4, p { 
    font-family: "Playfair Display", sans-serif;
    color: azure;   
}

a { 
    text-decoration: none;
}

a:hover { 
    text-decoration: underline;
}

.MainHeader{ 
    display: flex; 
    width: 100Vw; 
    height: 8Vh;
    justify-content: center;
    background-color: black;
}


.NameTitle{ 
    position: relative;
    display: flex; 
    justify-content: center;
    height: 50Vh;
    margin: auto;
    align-items: center;
    background-color: rgb(0, 0, 0);
    /* border: 2px solid red; */ 

}

.NameTitle h2 { 
    font-family: "Rouge Script", sans-serif;
    font-size: 10em; 
    white-space: nowrap;
    font-weight: 20;    
}


.NavBar{ 
    position: relative;
    right: 0;
    display: flex; 
    width: 30Vw;
    height: 4Vh;
    margin-left: auto;
    justify-content: flex-end;
    background-color: black;
    list-style: none;
}

.NavBar li { 
    display: inline-block;
    padding: 0px 20px; 
}

.BnW{ 
    display: flex;
    width: 100Vw;
    height: 12Vh;
}

.StarImage{ 

    position: absolute; /* Position it relative to the closest parent with position: relative */
    top: 45%; /* Center vertically */
    left: 49.5%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust positioning to truly center */

    position: fixed; 
    vertical-align: middle;
    margin: auto;
    width: 2.75vw;
    height: 2.75vh;  
}

.Content{ 

}

.PictureOfMe{ 
    width: 35%;
    position: absolute; 
    left: 60%; 
    top: 100vh; 

}

.DescriptionOfMe{ 
    position: absolute;
    left: 15Vw;
    bottom: -40vh; 

}

.DescriptionOfMe p { 

    width: 27vw;

}


.hidden { 
    opacity: 0;
    transition: all 1s; 
}


.show { 
    opacity: 1; 
}
